body {
    background:blueviolet;
    font-family:Helvetica;
}

.assignment {
    display:flex;
    padding:25px;
    margin:15px;
    background:#34f0b2;
}

.assignment img {
    padding:15px;
    width:200px;
    border:2px;
}

.assignment img:hover {
    border:4px dashed white;
}

h1 {
    display:flex;
    color:#ffffff;
    text-align:center;
}

h1:hover {
    color:black;
}

a {
    display:flex;
    text-decoration:none;
    color:rgb(255, 255, 255)
}

a:hover {
    color:black; 
}