body {
    background-color: bisque;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: navy;
}

ul {
    color: crimson;
}

a {
    color: crimson;
}

#list-nav a {
    text-decoration: none;
}

#list-nav a:hover {
    color: navy;
}