body {
    align-items: center;
    margin: 0;
    background-color: #188a36;
}

h1 {
    text-align: center;
}

#main-header {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    margin-left: 60px;
}

#main-header a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

#main-content {
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.column {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.col1 {
    width: 90%;
    background-color: #ffffff;
    height: 500px;
    margin-left: 50px;
    border-radius: 15px;
}

.col2 {
    width: 90%;
    background-color: #ffffff;
    height: 500px;
    border-radius: 15px;
}

.man {
    width: 190px;
    margin-top: 20px;
    transition: all 1.0s ease;
}

.thermometer {
    width: 70px;
    height: 310px;
    background-color: #ffffff;
    position: relative;
    margin-top: 45px;
}

.therm-container {
    display: flex;
    justify-content: center;
}

.mer {
    width: 100%;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    transition: height 1.0s ease;
}