body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.main-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #368d3f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.main-header a {
    text-decoration: none;
    color: #f0f0f0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    flex: 1;
}

/* Styles for the main navigation */
.main-nav {
    background-color: #000000;
    width: 100%;
    padding: 10px 0;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-nav li {
    position: relative;
}

.main-nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.main-nav a:hover {
    background-color: #2c9546;
    border-radius: 5px;
}

/* Styles for the body section */
.body-section {
    padding: 20px;
    text-align: center;
}

.body-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.body-section p {
    font-size: 20px;
}

/* Styles for the content sections */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.text {
    flex: 1;
    padding: 20px;
}

.text h2 {
    font-size: 40px; 
}

.text1 {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text1 h2 {
    font-size: 40px; 
}

.textw {
    flex: 1;
    padding: 20px;
}

.text2 h2 {
    font-size: 40px; 
}

.main-content a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
}

.main-content a:hover {
    color: #2c9546;
}

.img {
    flex: 1;
    /*padding: 20px;*/
    text-align: center;
}

.img img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2 {
    flex: 1;
    /*padding: 20px;*/
    text-align: center;
}

.img2 img {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.main-content:nth-child(even) {
    background-color: #d1d1d1; 
}

.four-cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.col {
    flex: 1;
    text-align: center;
    margin: 0 10px;
}

.col:hover {
    transform: scale(1.05);
}

.col a {
    text-decoration: none;
    color: #000000;
    display: block;
}

.col img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}

.col h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.col p {
    font-size: 20px;
}

.main-content1 p {
    text-align: center;
    width: auto;
    padding-bottom: 10px;
}

.main-content1 h2 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
.drop {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    padding-left: 5px;
}
  
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.drop-content a:hover {
    background-color: #ddd;
    color: #2c9546;
}
  
.drop:hover .drop-content {
    display: block;
}
  
.drop:hover .dropbtn {
    background-color: #3e8e41;
}

/* Styles for the footer */
footer {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-logo {
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 350px;
    height: 100px;
}

.footer-cols {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-col {
    flex: 1;
    margin: 0 20px;
    text-align: center;
    color: white;
    font-style: none;
}

.footer-col h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-col a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-col a:hover {
    text-decoration: underline;
}

.contactl {
    margin-top: 20px;
    padding-left: 20px;
}

.contactl li {
    margin-bottom: 10px;
}

.content-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-image-container img {
    max-width: 100%;
    height: auto;
}

.main-content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f0f0f0;
}

.main-content2:nth-child(even) {
    background-color: #e0e0e0; 
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.button {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333;
}

.info {
    text-align: center;
}

.center-box, .input-group, input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-box {
    width: 400px;
    height: 180px;
    background-color: rgba(83, 83, 83, 0.8);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 300px;
    padding: 20px;
    margin-bottom: 300px;
}

.input-group {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

.formc {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 20px;
    flex: 1 1 300px;
}

.formc h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.formc p {
    margin-bottom: 15px;
}

.formc label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.formc input[type="text"],
.formc input[type="email"],
.formc textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formc button[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formc button[type="submit"]:hover {
    background-color: #2c9546;
}

.map-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.map-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-info {
    margin-top: 20px;
    text-align: center;
}

.map-info p {
    margin-bottom: 10px;
}

.map-info strong {
    color: #333;
}

.footer-cols2 a {
    text-decoration:underline;
    color: #fff;
    
}

.footer-cols2 a:hover {
    color: #2c9546;
}

/* Media Query */
@media (max-width: 768px) {
    .main-header header {
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul {
        flex-direction: row;
        justify-content: center;
    }

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}
.hamburger-menu {
     display: flex;
}

.main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
}

.main-nav.show {
    display: flex;
}
}