body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000152;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.main-cols a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the nav links horizontally */
}

nav li {
    margin-right: 25px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

nav li:hover {
    background-color: #2974ff;
}

.active {
    border-bottom: 2px solid #fff;
}

main {
    max-width: 850px;
    margin: 25px auto;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h2 {
    margin-top: 25px;
}

#ex1-content {
    text-align: left;
    color: #030e64;
}

.txtgp {
    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
}

.txtgp input[type="text"],
.txtgp input[type="number"] {
    padding: 15px;
    margin: 10px;
    flex-grow: 1;
    border: 2px solid #9c0707;
    border-radius: 3px;
    font-size: 18px;
}

.txtgp button {
    padding: 12px 23px;
    margin: 10px;
    border: none;
    background-color: #c71c1c;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
}

.fund {
    margin: 25px 0;
    width: 100%; 
    height: 20px;
    background-color: #b3b3b3;
    position: relative;
}

.bar {
    width: 0; 
    height: 100%;
    background: linear-gradient(to right, #c3c2fd, #050175); /* Gradient color */
}

/* Hide Exercise 2 */
#ex2-content {
    display: none;
}

/* Small screens media query */
@media (max-width: 900px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .menu.active + nav {
        display: flex;
    }

    main {
        max-width: 100%;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        top: 80px;
        width: 100%;
        z-index: 1;
        transition: 0.3s;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav li {
        margin-right: 0;
        padding: 10px 75px;
        border-bottom: 1px solid #000361;
    }
}